@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

#fullpage {
  height: 100vh;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

/* body {
  overflow-x: hidden !important;
} */
.all_header {
  text-align: center;
}

.all_header h2 {
  font-size: 42px;
  font-weight: 700;
  color: #262626;
  position: relative;
}

.all_header h2::after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 6px;
  width: 124px;
  background-color: #2b56f5;
}

/*  =================== all btn css start ======== */
.all_btn {
  display: inline-block;
}

.all_btn a {
  display: inline-block;
  height: 60px;
  width: 237px;
  line-height: 60px;
  font-size: 18px;
  transition: all 0.5s linear;
  color: #2b56f5;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}

.all_btn a span {
  margin-left: 10px !important;
  transition: all 0.5s linear;
}

.all_btn a:hover span {
  margin-left: 15px !important;
}

.lrn_btn a {
  text-align: left !important;
  background-color: transparent !important;
  transition: all 0.5s linear;
  color: #fff !important;
  margin-left: 18px !important;
}

/* .lrn_btn a:hover {
  background-color: #fff !important;
  color: #2b56f5 !important;
  text-align: center !important;
  transition: all 0.5s linear;
} */
/* =================== nav part css strat ======= */
.custom_nav.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  /* padding: 15px 0px; */
  padding-bottom: 6px;
  width: 100%;
  transition: all 0.5s linear;
  background-color: #2b56f5 !important;
}
.custom_nav.sticky .navbar a {
  color: #fff !important;
}
.custom_nav.sticky #mynav ul li a {
  color: #fff !important;
  transition: all 0.3s linear;
  /* height: 37px !important;
  line-height: 37px !important; */
}
.custom_nav.sticky #mynav ul li {
  height: 30px !important;
  line-height: 30px !important;
}
/* .sticky #mynav ul li a:hover {
  color: #00ddab !important;
} */
.navbar-toggler {
  padding: 5px;
  border: 2px solid #fff !important;
}
.navbar-toggler .bar {
  color: #fff !important;
}
.sticky .navbar-toggler .bar {
  color: #fff !important;
}
.custom_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand img {
  height: 42px;
  width: 181px;
}

#mynav ul li {
  margin: 0px 5px;
  height: 25px;
  line-height: 25px;
}

#mynav ul li a {
  color: #fff;
  padding: 5px 18px;
  font-size: 18px;
  font-family: 'Poppins Medium', sans-serif;
  line-height: 25px;
}

#mynav ul li .sign_up_btn {
  border: 1px solid #fff !important;
  border-radius: 2px !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

/* =========== banner part css start ============= */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #2b56f5;
  overflow: hidden;
}

.banner_content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  /* height: 100%; */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_left_content h2 {
  font-size: 49px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 700;
}

.banner_left_content p {
  font-size: 19px;
  color: #fff;
  padding-right: 95px;
}

.banner_right_content {
  height: 334px;
  width: 557px;
}

.banner_right_content img {
  height: 100%;
  width: 100%;
}

.credit_carde {
  margin-top: 8px;
}

.credit_carde a {
  font-size: 14px;
  color: #fff;
  text-decoration: underline !important;
}

/*  ============== vertical part css start ============ */
.vertical_section {
  margin-top: 100px;
}

.vertical_img_main {
  height: 180px;
  width: 170px;
  border-radius: 20px;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0px 10px 30px #2b56f524;
  -moz-box-shadow: 0px 10px 30px #2b56f524;
  box-shadow: 0px 10px 30px #2b56f524;
  /* -webkit-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  -moz-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1); */
}

.vertical_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical_title {
  text-align: center;
  width: 170px;
  margin-top: 25px;
  margin: auto;
}

.vertical_title p {
  color: #262626;
  font-size: 20px;
  margin-top: 18px;
  font-weight: 700;
}

.vertical_section {
  overflow-x: hidden;
  width: 100%;
}

/*  ======================= feature part */
.features_section {
  margin-top: 100px;
}

.feature_body {
  padding: 8px 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 29px #2b56f52b;
  -moz-box-shadow: 0px 9px 29px #2b56f52b;
  box-shadow: 0px 9px 29px #2b56f52b;
  /* -webkit-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  -moz-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1); */
  height: 388px;
  width: 363px;
  border-radius: 20px;
}

.feature_img {
  margin: auto;
  margin-top: 40px;
  height: 80px;
  width: 85px;
  text-align: center;
  position: relative;
}

.feature_img img {
  height: 100%;
  width: 100%;
}

.sub_img {
  position: absolute;
  z-index: 2;
  height: 60%;
  width: 60%;
  top: 55%;
  transform: translate(-50%, -50%);
  margin: auto;
  left: 50%;
  /* left: 169px; */
}

/* .first_child {
  left: 177px !important;
  top: 21% !important;
} */
/* .sub_img.last_child {
  left: 175px !important;
  top: 20% !important;
} */
.sub_img img {
  height: 80%;
  width: 80%;
}

.feature_text {
  text-align: center;
}

.feature_text h5 {
  color: #262626;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 50px;
}

.feature_text p {
  font-size: 18px;
  color: #535353;
}

.try_free {
  margin: auto;
  width: 100%;
}

.try_btn {
  margin-top: 70px;
}

.try_btn a {
  background-color: #2b56f5;
  color: #fff !important;
  height: 60px;
  line-height: 60px;
  border-radius: 6px;
  width: 188px !important;
  -webkit-box-shadow: 0px 18px 30px #365be26b;
  -moz-box-shadow: 0px 18px 30px #365be26b;
  box-shadow: 0px 18px 30px #365be26b;
}

/*  ==================== how we dom part start ============= */
.how_do_section {
  margin-top: 100px;
}

.how_we_left p {
  font-size: 18px;
  color: #535353;
}

.how_we_border_style {
  height: 190px;
  width: 100%;
}

.border_parent {
  height: 219px;
  width: 623px;
  margin: auto;

  position: relative;
}

.order_first_child {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-left: 4px dashed #2b56f5;
  border-bottom: 4px dashed #2b56f5;
}

.order_last_child {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 50%;
  border-right: 4px dashed #2b56f5;
}

.bottom_first {
  border-left: none !important;
  border-right: 4px dashed #2b56f5 !important;
}

.bottom_last {
  border-right: none !important;
  border-left: 4px dashed #2b56f5 !important;
  left: 0 !important;
}

/* ======================= choose part start ================ */
.choose_section {
  margin-top: 100px;
}

.choose_body {
  padding: 60px 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 29px #2b56f51c;
  -moz-box-shadow: 0px 9px 29px #2b56f51c;
  box-shadow: 0px 9px 29px #2b56f51c;
  /* -webkit-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  -moz-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1); */
  height: 388px;
  width: 363px;
  border-radius: 20px;
}

.choose_img {
  margin: auto;
  height: 100px;
  width: 106px;
  text-align: center;
  position: relative;
}

.choose_img img {
  height: 100%;
  width: 100%;
}

.choose_sub_img {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.choose_sub_img img {
  height: 80%;
  width: 80%;
}

.choose_text h5 {
  color: #262626;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 12px 0px;
}

.choose_text p {
  font-size: 18px;
  color: #535353;
  text-align: center;
}

/* .choose_sub_last {
  left: 168px !important;
  top: 24% !important;
}
.choose_sub_second {
  left: 175px !important;
  top: 24% !important;
} */
/* ======================= subs part start ==================== */
.subscribe_section {
  margin-top: 100px;
}

.subs_body {
  border-radius: 20px;
  background-color: #eef1ff;
  padding: 20px;
  height: 478px;
}

.subd_form_body {
  position: relative;
  height: 66px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 30px #00000029;
  -moz-box-shadow: 0px 6px 30px #00000029;
  box-shadow: 0px 6px 30px #00000029;
  background-color: #fff;
}

.subs_btns {
  position: absolute;
  right: 0;
  height: 66px;
  top: 0;
  width: 120px;
  font-size: 18px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  outline: 0px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #2b56f5 !important;
  text-align: center;
}

.subs_control {
  background-color: #fff;
  height: 66px !important;
  line-height: 66px !important;
  font-size: 16px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.subs_left {
  width: 100%;
}

.subs_left h5 {
  color: #262626;
  font-size: 22px;
  font-weight: 700;
}

.subs_left p {
  font-size: 18px;
  color: #535353;
}

/*  =================== prize part start =============== */
.price_section {
  margin-top: 100px;
}

.price_card_body {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 29px #0024ab47;
  -moz-box-shadow: 0px 1px 29px #0024ab47;
  box-shadow: 0px 1px 29px #0024ab47;
  /* -webkit-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  -moz-box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1);
  box-shadow: -2px 8px 24px -4px rgba(212, 221, 255, 1); */
  padding: 45px 20px;
  height: 499px;
  width: 356px;
  transition: all 0.3s linear;
}

.prize_active_card {
  background-color: #2b56f5 !important;
}

.price_card_body:hover {
  background-color: #2b56f5;
}

.price_head {
  text-align: center;
}

.price_head h5 {
  font-size: 22px;
  color: #262626;
  font-weight: 700;
  padding-bottom: 15px;
}

.prize_active_card .price_head h5 {
  color: #fff !important;
}

.price_card_body:hover .price_head h5 {
  color: #fff;
}

.price_img {
  text-align: center;
  height: 85px;
  width: 85px;
  margin: auto;
}

.price_img img {
  height: 100%;
  width: 100%;
}

.prize_active_card .price_img img {
  color: #fff !important;
}

.price_card_body:hover .price_img h2 {
  color: #fff;
}

.prize_content {
  text-align: center;
}

.prize_content h3 {
  font-size: 28px;
  color: #262626;
  font-weight: 700;
  padding: 10px 0px;
}

.prize_active_card .prize_content h3 {
  color: #fff !important;
}

.price_card_body:hover .prize_content h3 {
  color: #fff;
}

.prize_content p {
  color: #535353;
  font-size: 18px;
  padding: 0px 10px;
}

.prize_active_card .prize_content p {
  color: #fff !important;
}

.price_card_body:hover .prize_content p {
  color: #fff;
}

.prize_content h6 {
  color: #2b56f5;
  font-size: 16px;
}

.prize_active_card .prize_content h6 {
  color: #fff !important;
}

.price_card_body:hover .prize_content h6 {
  color: #fff;
}

.prize_btn {
  margin-top: 35px;
}

.prize_btn a {
  background-color: #2b56f5 !important;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  width: 221px !important;
  -webkit-box-shadow: 0px 18px 30px #365be26b;
  -moz-box-shadow: 0px 18px 30px #365be26b;
  box-shadow: 0px 18px 30px #365be26b;
}

.prize_active_card .prize_btn a {
  background-color: #fff !important;
  color: #2b56f5 !important;
}

.price_card_body:hover .prize_btn a {
  background-color: #fff !important;
  color: #2b56f5;
}

.credit_card {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.credit_card a {
  color: #535353;
  text-decoration: underline !important;
}

/*  ======================= contact part start ================ */
.contact_section {
  margin-top: 100px;
}

.conatct_input {
  box-shadow: none !important;
  outline: 0px !important;
  /* border: 0.25px solid #aaaaaa; */
  height: 71px !important;
  line-height: 71px;
  font-size: 16px !important;
  -webkit-box-shadow: 0px 2px 9px #64646424 !important;
  -moz-box-shadow: 0px 2px 9px #64646424 !important;
  box-shadow: 0px 2px 9px #64646424 !important;
}

.text_area {
  box-shadow: none !important;
  outline: 0px !important;
  /* border: 0.25px solid #aaaaaa; */
  -webkit-box-shadow: 0px 2px 9px #64646424 !important;
  -moz-box-shadow: 0px 2px 9px #64646424 !important;
  box-shadow: 0px 2px 9px #64646424 !important;
}

/* .form_body {
  margin-top: 70px;
} */
.contact_img {
  height: 340px;
  width: 100%;
}

.contact_img img {
  height: 100%;
  width: 100%;
}

.submit_btn {
  /* box-shadow: none !important; */
  margin-top: 30px;
  border: none !important;
  outline: 0px !important;
  background-color: #2b56f5 !important;
  color: #fff;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  width: 188px;
  -webkit-box-shadow: 0px 18px 30px #365be26b;
  -moz-box-shadow: 0px 18px 30px #365be26b;
  box-shadow: 0px 18px 30px #365be26b;
}

/*  ============================ footer part start ============================ */
/* .footer_img {
  position: relative;
  padding: 0px !important;
  height: 500px;
  width: 100%;
} */
.footer_section {
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  overflow: hidden;
  padding: 50px 0px;
  margin-top: 100px;
}

.footer_img img {
  height: 100%;
  width: 100%;
}

/* .footer_content {
  width: 100%;

  top: 10%;
} */
.footer_text p {
  color: #fff;
  font-size: 14px;
  padding-top: 8px;
  /* padding: 5px 0px; */
}

.footer_social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.footer_social li a {
  display: inline-block;
  font-size: 20px;
  text-align: center;

  color: #fff;
}

.footer_inner ul li {
  list-style-type: none;
  padding: 5px 0px !important;
}

.footer_inner ul li a {
  color: #fff;
  font-size: 14px;
}

.footer_inner h5 {
  color: #fff;
  font-size: 18px;
}

.footer_copyright {
  position: relative;
}

.footer_copyright::before {
  position: absolute;
  content: '';
  left: 0;
  top: -15px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.footer_copyright p {
  font-size: 14px;
  color: #fff;
}

.footer_logo img {
  height: 35px;
  width: 135px;
}

/* ========================================= */
.custom_row {
  margin-top: 100px;
}
